Question 1: Are the rules for naming variables followed

price

1price

_price

Price

Question 2: Are the rules for naming variables followed

_age

age_

age_*

+age

Question 3 : variable and Variable are different?

variable = 3

Variable = 4

Question 4: Student 1 tells to student 2 that arithmetic operators can be used in python while student 2 disagrees. Can you help student 1  
 with a python code to add 4 string variables in python.

Question 5: Can you help Jack run the below code

variable1 = 3


9variable2 = 5

  
variable3 = variable1 + variable2
  

print(variable3)

 Question 6: Student 1 is not able run below code to assign a value to a. Please help him.

 print("Add and Assign:",a += b)

Question 7: Sam has 100 oranges in his garden while Jack has 100 apples. If 1 orange is 10 euros and 1 apple is 20 euros. Can you write a python code to help Sam and Jack understand the value of 100 oranges and apples each.

Question 8: Write a python code to generate the below output

0

5

10

15

20

25

30

35

40

Question 9: Complete the code below to get the output mentioned

for x in range(9):
print(5+7*)

5

12

19

26

33

40

47

54

61

Question 10: Create a list of fruits with 9 elements and print it

Question 11 :  Slice from 1st element to the 4th. Print only the first 4 elements in the above list.

Question 12 : Create a list named 'list_nums' of numbers  (3,4,7,23,1,4,23,90,0,5)

Question 14 : Iterate through each element in the above list using a for loop and add one to each element in the list and print the list

Question 15: Create an empty list named motorcycles

Question 16: Add elements to the empty list created above,atleast 3 motorcycles

Question 17: Remove two motorcycles from the list above by value

Question 18: Create a dictionary for four countries. With the country as the key and their capital as the value and print the dictionary

Question 19 : Print the length of the above created dictionary

*Question* 20 : Remove a country and its capital (key-value pair) from the dictionary created and print the dictionay minus that value

Question 21 : Create an empty dictionary

Question 22: Add the two key-vale pair mentioned below into the above created empty dictionary and print the dictionary
1. 'Denmark' - 'Copenhagen'
2. 'Finland' - 'Helsinki

Question 23 : Modify the value of Finland from Helsinki to Rome and print the dictionary

Question 24 : Create a dictionary to store username and password

Question 25 : Create a Tuple wiht values 1,10 and 30

Question 26 : Print the first value in the above created tuple

Question 27 : Will this work 'my_tuple[1] = 3' to the above tuple? Give reason